@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* outline: 1px solid yellow; */
}

:root {
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  --Blue: hsl(248, 32%, 49%);
  --Dark-Blue: hsl(249, 10%, 26%);
  --Grayish-Blue: hsl(246, 25%, 77%);
  --step--3: clamp(0.7rem, calc(0.7rem + 0.03vw), 0.72rem);
  --step--1: clamp(0.89rem, calc(0.83rem + 0.23vw), 1.04rem);
  --step-5: clamp(1.8rem, calc(1.34rem + 1.97vw), 3.11rem);
  --space-m: clamp(1.5rem, calc(1.37rem + 0.56vw), 1.88rem);
  --space-l: clamp(2rem, calc(1.82rem + 0.75vw), 2.5rem);
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #fff;
  background: url(./images/bg-intro-mobile.png);
  background-color: var(--Red);
  text-align: center;
}

.outer-container {
  margin: 6rem var(--space-m) 5rem var(--space-m);
  display: grid;
}

.text-container {
}

h1 {
  font-size: var(--step-5);
  margin-bottom: 1.5rem;
}

.text-container p {
  font-size: var(--step--1);
  line-height: 1.6;
  margin-bottom: 2.5rem;
}

.btn {
  border: 0;
  color: #fff;
  border-radius: 10px;
  line-height: 1.5;
  cursor: pointer;
}

.btn-1 {
  background-color: var(--Blue);
  padding: 1.5rem 5rem;
  margin-bottom: 1.5rem;
  width: 100%;
  box-shadow: 0px 7px 0px 1px rgba(0, 0, 0, 0.197);
}

.try-free {
  font-weight: 700;
  color: white;
}

.btn-1 p {
  font-weight: 200;
}

/* Form */

form {
  background-color: #fff;
  color: var(--Dark-Blue);
  border-radius: 10px;
  padding: var(--space-l);
  box-shadow: 0px 7px 0px 1px rgba(0, 0, 0, 0.197);
}

input {
  height: 3rem;
  border-radius: 5px;
  border: 1px solid var(--Grayish-Blue);
  padding-left: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  position: relative;
}

input,
.btn-2 {
  width: 100%;
}

.hide-label {
  border: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.btn-2 {
  background-color: var(--Green);
  padding: 1.3rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0.5rem;
  box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.099);
}

form p {
  font-size: var(--step--3);
  color: var(--Grayish-Blue);
}

.terms {
  margin: 0 1rem;
}

.terms-red {
  color: var(--Red);
}

.error-icon {
  border: solid 2px var(--Red);
  background-image: url(./images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: 95%;
}

.error-msg {
  display: none;
  font-size: 0.7rem;
  text-align: right;
  color: var(--Red);
  padding-bottom: 1rem;
  margin-top: -0.5rem;
}

.active {
  display: block;
}

/* Desktop View */
@media screen and (min-width: 768px) {
  body {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(./images/bg-intro-desktop.png);
    background-color: var(--Red);
    max-width: 1440px;
    margin: 0 auto;
  }

  .outer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: left;
  }

  h1 {
    font-size: var(--step-5);
    margin-bottom: 1.5rem;
    line-height: 1.2;
  }

  .text-container {
    max-width: 80%;
  }

  .text-container p {
    font-size: var(--step--1);
  }

  .form-container {
    width: 100%;
  }

  .terms {
    text-align: center;
  }

  input {
    height: 4rem;
  }
}
